<nav class="navbar navbar-expand-lg navbar-light bg1 px-4">
    <a class="navbar-brand" href="#">only<b>ISLANDS</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active text-light" href="/">home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link text-light" href="/blog">blog</a>
            <a class="nav-item nav-link text-light" href="/booking">booking</a>
        </div>
    </div>
</nav>
<nav class="navbar navbar-light bg2 px-4">
    <span class="navbar-text text-light">
      Life is an Island!
    </span>
    <a class="text-light px-4" href="/blog"><span class="badge badge-light p-2 mx-2">New</span><b>Blogpost</b></a>
  </nav>